#configure number of instance required
instance=6

#configure apache tomact download file location and apache version
apache_link="http://www.us.apache.org/dist/tomcat/tomcat-7/v7.0.78/bin/apache-tomcat-7.0.78.tar.gz"
apache=apache-tomcat-7.0.78


#this will have to be modified
#apache_source_path=/tmp
untar_path=/tmp
tomcats_home=/apps



init_script_source=/root/Script
init_script_destination=/etc/init.d
remove_files_path=/root/Script/remove_files.txt
setenv_script=/root/Script/setenv.sh


###JAVA HOME will be detected automatically in the script 
###JAVA_HOME=/usr/java/jdk1.8.0_45



###required vaule of setenv.sh

Dgw_bc_env=rrmdev
Dgw_server_mode=dev

###tomcat user
tomcat_user_home=/home/tomcat



